name: Upload artefacts

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install SSH client
      run: sudo apt-get install -y sshpass

    - name: Upload via SFTP
      env:
        SFTP_USER: ${{ secrets.SFTP_USER }}
        SFTP_PASS: ${{ secrets.SFTP_PASS }}
      run: |
        cd src/Resources/Published
        sshpass -p "$SFTP_PASS" sftp -o StrictHostKeyChecking=no $SFTP_USER@lostartefacts.dev <<EOF
        cd uploads/pub
        put tr1-assets.zip
        put tr2-assets.zip
        bye
        EOF
